 body {
  margin: 0;
  padding: 0;
 }

 #header {
    font-size: 40px;
    transition: font-size 0.3s ease;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 800;
    background: linear-gradient(
        90deg,
        #a286ff,
        #0022ff
    );
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20;
    animation: slideIn 0.3s ease-in-out;
 }

 #activityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  z-index: 10;
  position: relative;
  margin-top: 80px;
 }


 #filterButton {
  font-size: 18px;
  padding: 10px;
  background-color: #a286ff;
  font-family: "Kumbh Sans", sans-serif;
  border-width: 0;
  border-radius: 20px;
  color: white;
  margin-right: 5px;
 }

 #uploadButton {
  font-size: 18px;
  padding: 10px;
  background-color: #a286ff;
  font-family: "Kumbh Sans", sans-serif;
  border-width: 0;
  border-radius: 20px;
  color: white;
  margin-left: 5px;
  margin-bottom: 12px;
 }

 #filterButton:hover {
  opacity: 0.7;
  cursor: pointer;
 }

 #uploadButton:hover {
  opacity: 0.7;
  cursor: pointer;
 }

 #filterButton:active {
  opacity: 0.5;
  cursor: pointer;
 }

 #uploadButton:active {
  opacity: 0.5;
  cursor: pointer;
 }

 #b-triangleContainer {
  position: fixed;
  width: 100%;
  height: calc(100vh - 100px);
  top: 200px;
}

#b-triangle {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: calc(100vh - 100px);
  background: linear-gradient(90deg, #a286ff, #0022ff);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#b-triangleLeft {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 60%;
  top: 120px;
  height: calc(100vh - 300px);
  background: linear-gradient(90deg, #c43f39, #0022ff);
  opacity: 0.6;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#b-triangleRight {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 45%;
  height: calc(100vh - 300px);
  top: 100px;
  background: linear-gradient(90deg, #a286ff, #48bd6a);
  opacity: 0.6;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

