#logo {
    font-size: 120px;
    margin-top: 100px;
    transition: font-size 0.3s ease;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 800;
    background: linear-gradient(
        90deg,
        #a286ff,
        #0022ff
    );
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0;
}

#logo:hover {
    cursor: pointer;
    font-size: 140px;
}

#catchline {
    font-size: 24px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    background: linear-gradient(
        90deg,
        #a286ff,
        #0022ff
    );
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 12px;
}

#catchline:hover {
    color: black;
    cursor: pointer;
}

#getstarted {
    background-color: #0022ff;
    color: white;
    border-radius: 20px;
    border-width: 0;
    padding: 14px;
    font-size: 18px;
    font-family: "Kumbh Sans", sans-serif;
    margin-bottom: 24px;
    margin-top: 12px;
}

#getstarted:hover {
    opacity: 0.7;
    cursor: pointer;
}

#getstarted:active {
    opacity: 0.5;
    cursor: pointer;
}

#triangleContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
}

#triangle {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: calc(100vh - 100px);
    background: linear-gradient(90deg, #a286ff, #0022ff);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#triangleLeft {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 60%;
    top: 120px;
    height: calc(100vh - 300px);
    background: linear-gradient(90deg, #c43f39, #0022ff);
    opacity: 0.6;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#triangleRight {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 45%;
    height: calc(100vh - 300px);
    top: 100px;
    background: linear-gradient(90deg, #a286ff, #48bd6a);
    opacity: 0.6;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

body {
    margin: 0;
    padding: 0;
}
